@import "tailwindcss";

@utility accordion-icon {
  @apply inline-block h-2 w-2 border-solid border-current border-r-2 border-b-2 -translate-y-0.5 rotate-45;
}

/* .accordion-icon { */
/*   border: solid currentcolor; */
/*   border-width: 0 2px 2px 0; */
/*   display: inline-block; */
/*   height: 8px; */
/*   pointer-events: none; */
/*   transform: translateY(-2px) rotate(45deg); */
/*   width: 8px; */
/* } */
/**/
/* .accordion-icon--rotated { */
/*   transform: translateY(2px) rotate(-135deg); */
/* } */
