body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  background: #222;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

#list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  border: 1px solid #444;
  border-radius: 10px;
}

#list li {
  padding: 15px;
  border-bottom: 1px solid #444;
}

#list li b {
  color: lightblue;
}

#form {
  display: flex;
  gap: 5px;
}

#form input:focus {
  outline: 0 none;
}

#form input {
  background: #444;
  color: white;
  border: 0 none;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px;
}

#user {
  font-weight: bold;
}

#msg {
  flex-grow: 1;
}

#form button {
  border: 0 none;
  background: lightblue;
  padding: 8px 20px;
  border-radius: 5px;
}
