.profile {
  display: inline-block;
  text-align: center;
  padding: 8px;
  color: #ebdbb2;
}

.profile-image {
  border-radius: 50%;
  border: 1px solid #ebdbb2;
}

.profile-name {
  background-color: #1e2021;
  padding: 5px;
  border-radius: 5px;
}
